
@{
    ViewBag.Title = "_AllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TepeGuvCase.DAL
@model List<Order>
    <h2>Siparişlerim</h2>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Sipariş No
                        </th>
                        <th>
                            Sipariş Tarihi
                        </th>
                        <th>
                            Telefon
                        </th>
                        <th>
                            Mail
                        </th>
                        <th>
                            Sipariş Durumu
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Order item in Model)
                    {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.OrderDate
                        </td>
                        <td>
                            @item.Phone
                        </td>

                        <td>
                            @item.Mail
                        </td>

                        <td>
                            <a href="@Url.Action("CancelCart","Order", new { id=item.ID})">İptal Et</a>

                        </td>

                    </tr>
                    }
                </tbody>
                
            </table>
        </div>
    </div>
@if (ViewBag.mesaj!=null)
{ <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.mesaj");
            };
</script>

}